/* line 1, ../compass/sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../compass/sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../compass/sass/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../compass/sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../compass/sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../compass/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../compass/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 47, ../compass/sass/_mixins.scss */
#main #mid-section, #main #mid-section .article1, #main #mid-section .art2, #main #mid-section .art3, #main #mid-section-2, #main #mid-section-2 ul .expand p, #main #bottom-section, #main footer {
  *zoom: 1;
}
/* line 49, ../compass/sass/_mixins.scss */
#main #mid-section:before, #main #mid-section .article1:before, #main #mid-section .art2:before, #main #mid-section .art3:before, #main #mid-section-2:before, #main #mid-section-2 ul .expand p:before, #main #bottom-section:before, #main footer:before, #main #mid-section:after, #main #mid-section .article1:after, #main #mid-section .art2:after, #main #mid-section .art3:after, #main #mid-section-2:after, #main #mid-section-2 ul .expand p:after, #main #bottom-section:after, #main footer:after {
  content: " ";
  display: table;
}
/* line 53, ../compass/sass/_mixins.scss */
#main #mid-section:after, #main #mid-section .article1:after, #main #mid-section .art2:after, #main #mid-section .art3:after, #main #mid-section-2:after, #main #mid-section-2 ul .expand p:after, #main #bottom-section:after, #main footer:after {
  clear: both;
}

/* line 2, ../compass/sass/_general.scss */
h1, h3, figcaption {
  font-family: Georgia, serif;
  font-weight: 100;
  font-size: 44px;
  color: #e03031;
}

/* line 9, ../compass/sass/_general.scss */
h2, h4, h5, h6, p, a, button {
  font-family: Helvetica, sans-serif;
  color: #5a5a5a;
  font-weight: 400;
  font-size: 20px;
}

/* line 16, ../compass/sass/_general.scss */
h4, h5 {
  color: #05a6cc;
}

/* line 20, ../compass/sass/_general.scss */
h2 {
  padding: 15px 0;
}

/* line 24, ../compass/sass/_general.scss */
h3 {
  font-size: 32px;
}

/* line 28, ../compass/sass/_general.scss */
h5 {
  font-size: 14px;
}

/* line 32, ../compass/sass/_general.scss */
h6 {
  font-size: 14px;
  font-weight: 100;
}

/* line 37, ../compass/sass/_general.scss */
figcaption, .hero-sub-head {
  color: #ffffff;
}

/* line 41, ../compass/sass/_general.scss */
button {
  background: #24b7f3;
  background-image: -webkit-linear-gradient(top, #24b7f3, #1885a6);
  background-image: -moz-linear-gradient(top, #24b7f3, #1885a6);
  background-image: -ms-linear-gradient(top, #24b7f3, #1885a6);
  background-image: -o-linear-gradient(top, #24b7f3, #1885a6);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font-family: Helvetica, sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  border: solid #1885a6 1px;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 600px) {
  /* line 41, ../compass/sass/_general.scss */
  button {
    font-size: 12px;
  }
}
/* line 57, ../compass/sass/_general.scss */
button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  text-decoration: none;
}

/* line 1, ../compass/sass/_styles.scss */
#main {
  margin: 50px auto;
  width: 98%;
  max-width: 1015px;
}
/* line 7, ../compass/sass/_styles.scss */
#main #top-section figure img {
  width: 100%;
}
/* line 11, ../compass/sass/_styles.scss */
#main #top-section .hero-caption {
  font-family: Georgia, serif;
  color: #ffffff;
  font-size: 38px;
  text-shadow: 0px 0px 5px #000000;
}
@media (max-width: 1056px) {
  /* line 11, ../compass/sass/_styles.scss */
  #main #top-section .hero-caption {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  /* line 11, ../compass/sass/_styles.scss */
  #main #top-section .hero-caption {
    font-size: 22px;
  }
}
/* line 26, ../compass/sass/_styles.scss */
#main #top-section .hero-sub-head {
  font-size: 16px;
  margin: 15px 0 35px 0;
  text-shadow: 0px 0px 5px #000000;
}
@media (max-width: 1056px) {
  /* line 26, ../compass/sass/_styles.scss */
  #main #top-section .hero-sub-head {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  /* line 26, ../compass/sass/_styles.scss */
  #main #top-section .hero-sub-head {
    font-size: 12px;
    margin: 15px 0 16px 0;
  }
}
/* line 42, ../compass/sass/_styles.scss */
#main .hero-image {
  margin: 0;
}
/* line 46, ../compass/sass/_styles.scss */
#main .hero-text {
  position: absolute;
  top: 250px;
  padding-left: 100px;
  max-width: 332px;
}
@media (max-width: 1056px) {
  /* line 46, ../compass/sass/_styles.scss */
  #main .hero-text {
    top: 200px;
    padding-left: 50px;
    max-width: 260px;
  }
}
@media (max-width: 600px) {
  /* line 46, ../compass/sass/_styles.scss */
  #main .hero-text {
    top: 170px;
    padding-left: 25px;
    max-width: 200px;
  }
}
/* line 65, ../compass/sass/_styles.scss */
#main nav {
  height: 140px;
}
@media (max-width: 1056px) {
  /* line 65, ../compass/sass/_styles.scss */
  #main nav {
    width: 100%;
  }
}
/* line 72, ../compass/sass/_styles.scss */
#main nav ul li a {
  float: left;
  font-size: 16px;
  background-color: #e3e3e2;
  text-decoration: none;
  margin: 40px 2% 40px 0;
  height: 60px;
}
@media (max-width: 1056px) {
  /* line 72, ../compass/sass/_styles.scss */
  #main nav ul li a {
    width: 49%;
    margin: 20px 2% 20px 0;
  }
}
@media (max-width: 600px) {
  /* line 72, ../compass/sass/_styles.scss */
  #main nav ul li a {
    width: 100%;
  }
}
/* line 89, ../compass/sass/_styles.scss */
#main nav ul li a span {
  float: left;
  width: 104px;
  margin: 15px 20px 0 20px;
}
/* line 95, ../compass/sass/_styles.scss */
#main nav ul li a img {
  width: 62px;
  color: #5a5a5a;
  opacity: 0.3;
  filter: alpha(opacity=30);
  margin-left: 15px;
  float: left;
}
/* line 103, ../compass/sass/_styles.scss */
#main nav ul li a .right-arrow {
  width: 12px;
  margin: 25px 15px 0 0;
}
@media (max-width: 1056px) {
  /* line 103, ../compass/sass/_styles.scss */
  #main nav ul li a .right-arrow {
    float: right;
  }
}
@media (max-width: 1056px) {
  /* line 113, ../compass/sass/_styles.scss */
  #main nav .enjoy-nature {
    float: right;
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  /* line 113, ../compass/sass/_styles.scss */
  #main nav .enjoy-nature {
    margin-top: 0;
  }
}
/* line 123, ../compass/sass/_styles.scss */
#main nav .enjoy-nature .icon {
  width: 52px;
  margin-top: 4px;
}
/* line 128, ../compass/sass/_styles.scss */
#main nav .enjoy-nature span {
  margin-top: 23px;
}
@media (max-width: 1056px) {
  /* line 133, ../compass/sass/_styles.scss */
  #main nav .share-photos {
    margin-top: 0;
  }
}
/* line 138, ../compass/sass/_styles.scss */
#main nav .share-photos .icon {
  width: 48px;
  margin-top: 7px;
}
/* line 144, ../compass/sass/_styles.scss */
#main nav .find-a-temple {
  margin-right: 0;
  float: right;
}
@media (max-width: 1056px) {
  /* line 144, ../compass/sass/_styles.scss */
  #main nav .find-a-temple {
    margin-top: 0;
  }
}
/* line 152, ../compass/sass/_styles.scss */
#main nav .find-a-temple .icon {
  width: 48px;
  margin-top: 6px;
}
/* line 159, ../compass/sass/_styles.scss */
#main #mid-section {
  float: left;
  margin: 0 -9999px;
  padding: 0.25px 9999px;
  background-color: #f5f2ea;
}
/* line 166, ../compass/sass/_styles.scss */
#main #mid-section h3 {
  margin: 4px 0 17px 0;
}
/* line 170, ../compass/sass/_styles.scss */
#main #mid-section p {
  line-height: 1.4;
  margin-bottom: 50px;
}
@media (max-width: 1056px) {
  /* line 170, ../compass/sass/_styles.scss */
  #main #mid-section p {
    margin-bottom: 22px;
  }
}
@media (max-width: 1056px) {
  /* line 179, ../compass/sass/_styles.scss */
  #main #mid-section button {
    width: 170px;
  }
}
@media (max-width: 600px) {
  /* line 179, ../compass/sass/_styles.scss */
  #main #mid-section button {
    width: 48%;
    margin-top: 23px;
  }
}
/* line 190, ../compass/sass/_styles.scss */
#main #mid-section .article1 {
  margin-top: 30px;
  float: left;
  width: 52%;
  margin-right: 4%;
}
@media (max-width: 1056px) {
  /* line 190, ../compass/sass/_styles.scss */
  #main #mid-section .article1 {
    width: 100%;
    margin-right: 0;
    float: none;
  }
}
@media (max-width: 1056px) {
  /* line 204, ../compass/sass/_styles.scss */
  #main #mid-section .article1 .text {
    float: left;
    width: 64%;
  }
}
@media (max-width: 600px) {
  /* line 204, ../compass/sass/_styles.scss */
  #main #mid-section .article1 .text {
    width: 100%;
  }
}
@media (max-width: 1056px) {
  /* line 215, ../compass/sass/_styles.scss */
  #main #mid-section .article1 .visuals {
    float: right;
    width: 23%;
    margin-right: 6%;
  }
}
@media (max-width: 600px) {
  /* line 215, ../compass/sass/_styles.scss */
  #main #mid-section .article1 .visuals {
    float: none;
    width: 100%;
  }
}
/* line 229, ../compass/sass/_styles.scss */
#main #mid-section .art-img {
  margin-top: 30px;
  float: right;
  -moz-box-shadow: 2px 1px 5px 1px #5a5a5a;
  -webkit-box-shadow: 2px 1px 5px 1px #5a5a5a;
  box-shadow: 2px 1px 5px 1px #5a5a5a;
}
@media (max-width: 1056px) {
  /* line 229, ../compass/sass/_styles.scss */
  #main #mid-section .art-img {
    float: none;
    width: 99.5%;
    margin-top: 0;
  }
}
/* line 240, ../compass/sass/_styles.scss */
#main #mid-section .art-img img {
  margin: 4px 0 0 4px;
  -moz-box-shadow: 0 0 0 4px #ffffff;
  -webkit-box-shadow: 0 0 0 4px #ffffff;
  box-shadow: 0 0 0 4px #ffffff;
}
@media (max-width: 1056px) {
  /* line 240, ../compass/sass/_styles.scss */
  #main #mid-section .art-img img {
    width: 99.5%;
  }
}
/* line 250, ../compass/sass/_styles.scss */
#main #mid-section .thumb {
  background: url("../images/thumb1.jpg") no-repeat center top;
  width: 170px;
  height: 86px;
  float: left;
  margin: 0 20px 100px 0;
}
@media (max-width: 1056px) {
  /* line 250, ../compass/sass/_styles.scss */
  #main #mid-section .thumb {
    margin: 0 20px 30px 0;
  }
}
/* line 261, ../compass/sass/_styles.scss */
#main #mid-section .thumb img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  width: 39px;
  float: left;
  margin: 0 20px 120px 0;
  position: relative;
  top: 25px;
  left: 67px;
}
/* line 272, ../compass/sass/_styles.scss */
#main #mid-section button {
  float: left;
}
/* line 276, ../compass/sass/_styles.scss */
#main #mid-section .art2 {
  float: left;
}
/* line 280, ../compass/sass/_styles.scss */
#main #mid-section .art2 .article2 {
  float: right;
  width: 52%;
}
@media (max-width: 1056px) {
  /* line 280, ../compass/sass/_styles.scss */
  #main #mid-section .art2 .article2 {
    float: none;
    width: 99.5%;
    margin-top: 30px;
  }
}
@media (max-width: 1056px) {
  /* line 290, ../compass/sass/_styles.scss */
  #main #mid-section .art2 .article2 .text {
    float: left;
    width: 64%;
  }
}
@media (max-width: 600px) {
  /* line 290, ../compass/sass/_styles.scss */
  #main #mid-section .art2 .article2 .text {
    width: 100%;
  }
}
@media (max-width: 1056px) {
  /* line 301, ../compass/sass/_styles.scss */
  #main #mid-section .art2 .article2 .visuals {
    float: right;
    width: 23%;
    margin-right: 6%;
  }
}
@media (max-width: 600px) {
  /* line 301, ../compass/sass/_styles.scss */
  #main #mid-section .art2 .article2 .visuals {
    float: none;
    width: 100%;
  }
}
/* line 315, ../compass/sass/_styles.scss */
#main #mid-section .art2 .stack {
  float: left;
  position: relative;
  z-index: 10;
  margin-top: 20px;
}
@media (max-width: 1056px) {
  /* line 315, ../compass/sass/_styles.scss */
  #main #mid-section .art2 .stack {
    width: 99.5%;
  }
}
/* line 325, ../compass/sass/_styles.scss */
#main #mid-section .art2 .stack img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: 10px solid #fff;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
  -ms-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}
@media (max-width: 1056px) {
  /* line 325, ../compass/sass/_styles.scss */
  #main #mid-section .art2 .stack img {
    -moz-box-shadow: 0 0 0 4px #ffffff;
    -webkit-box-shadow: 0 0 0 4px #ffffff;
    box-shadow: 0 0 0 4px #ffffff;
    width: 100%;
    -moz-box-shadow: 0px 0px 0px 0px transparent;
    -webkit-box-shadow: 0px 0px 0px 0px transparent;
    box-shadow: 0px 0px 0px 0px transparent;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/* line 343, ../compass/sass/_styles.scss */
#main #mid-section .art2 .stack:before {
  content: "";
  border-radius: 3px;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 10px solid #fff;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
  -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
@media (max-width: 1056px) {
  /* line 343, ../compass/sass/_styles.scss */
  #main #mid-section .art2 .stack:before {
    content: none;
  }
}
/* line 360, ../compass/sass/_styles.scss */
#main #mid-section .art2 .stack:before {
  top: 4px;
  z-index: -10;
}
@media (max-width: 1056px) {
  /* line 360, ../compass/sass/_styles.scss */
  #main #mid-section .art2 .stack:before {
    content: none;
  }
}
/* line 369, ../compass/sass/_styles.scss */
#main #mid-section .art2 .thumb {
  background: url("../images/thumb2.jpg") no-repeat center top;
  position: relative;
  left: 13.5%;
}
@media (max-width: 1056px) {
  /* line 369, ../compass/sass/_styles.scss */
  #main #mid-section .art2 .thumb {
    position: inherit;
    left: 0;
  }
}
/* line 380, ../compass/sass/_styles.scss */
#main #mid-section .art2 button {
  position: relative;
  left: 13.5%;
}
@media (max-width: 1056px) {
  /* line 380, ../compass/sass/_styles.scss */
  #main #mid-section .art2 button {
    position: inherit;
    left: 0;
  }
}
/* line 391, ../compass/sass/_styles.scss */
#main #mid-section .art3 {
  float: left;
}
@media (max-width: 1056px) {
  /* line 391, ../compass/sass/_styles.scss */
  #main #mid-section .art3 {
    margin-bottom: 20px;
  }
}
@media (max-width: 1056px) {
  /* line 398, ../compass/sass/_styles.scss */
  #main #mid-section .art3 .art-img {
    float: left;
    width: 99.5%;
    margin-top: 0;
  }
}
/* line 406, ../compass/sass/_styles.scss */
#main #mid-section .art3 .article3 {
  width: 52%;
  float: left;
}
@media (max-width: 1056px) {
  /* line 406, ../compass/sass/_styles.scss */
  #main #mid-section .art3 .article3 {
    width: 99.5%;
    margin-top: 30px;
  }
}
@media (max-width: 1056px) {
  /* line 415, ../compass/sass/_styles.scss */
  #main #mid-section .art3 .article3 .text {
    float: left;
    width: 64%;
  }
}
@media (max-width: 600px) {
  /* line 415, ../compass/sass/_styles.scss */
  #main #mid-section .art3 .article3 .text {
    width: 100%;
  }
}
@media (max-width: 1056px) {
  /* line 426, ../compass/sass/_styles.scss */
  #main #mid-section .art3 .article3 .visuals {
    float: right;
    width: 23%;
    margin-right: 6%;
  }
}
@media (max-width: 600px) {
  /* line 426, ../compass/sass/_styles.scss */
  #main #mid-section .art3 .article3 .visuals {
    float: none;
    width: 100%;
  }
}
/* line 440, ../compass/sass/_styles.scss */
#main #mid-section .art3 .thumb {
  background: url("../images/thumb3.jpg") no-repeat center top;
}
/* line 446, ../compass/sass/_styles.scss */
#main #mid-section-2 {
  float: left;
  margin-top: 30px;
  margin-bottom: 45px;
}
/* line 454, ../compass/sass/_styles.scss */
#main #mid-section-2 ul .expand {
  cursor: pointer;
  margin-top: 15px;
  padding: 16px 0 10px 15px;
  background: #eeeeee;
  overflow: hidden;
  height: 20px;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
/* line 464, ../compass/sass/_styles.scss */
#main #mid-section-2 ul .expand h4 {
  float: left;
  width: 86%;
}
/* line 469, ../compass/sass/_styles.scss */
#main #mid-section-2 ul .expand .faq-arrow {
  float: right;
  width: 20px;
  padding-right: 15px;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
/* line 478, ../compass/sass/_styles.scss */
#main #mid-section-2 ul .expand .faq-arrow.rotate0 {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 482, ../compass/sass/_styles.scss */
#main #mid-section-2 ul .expand .faq-arrow.rotate90 {
  padding-right: 20px;
  padding-top: 20px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 488, ../compass/sass/_styles.scss */
#main #mid-section-2 ul .expand p {
  float: left;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.4;
  width: 90%;
}
/* line 498, ../compass/sass/_styles.scss */
#main #mid-section-2 ul .expanded {
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
@media (max-width: 870px) {
  /* line 503, ../compass/sass/_styles.scss */
  #main #mid-section-2 #expander3 {
    height: 40px;
  }
}
/* line 510, ../compass/sass/_styles.scss */
#main #bottom-section {
  float: left;
  margin: 0 -9999px;
  padding: 0.25px 9999px;
  background-color: #f5f2ea;
  width: 100%;
}
/* line 518, ../compass/sass/_styles.scss */
#main #bottom-section div {
  float: left;
  width: 41%;
}
/* line 521, ../compass/sass/_styles.scss */
#main #bottom-section div h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  /* line 521, ../compass/sass/_styles.scss */
  #main #bottom-section div h3 {
    margin-bottom: 10px;
  }
}
/* line 530, ../compass/sass/_styles.scss */
#main #bottom-section div h5 {
  line-height: 2.2;
}
/* line 535, ../compass/sass/_styles.scss */
#main #bottom-section img {
  float: right;
  margin-top: 37px;
  width: 51%;
  display: block;
  margin-bottom: 40px;
}
@media (max-width: 600px) {
  /* line 535, ../compass/sass/_styles.scss */
  #main #bottom-section img {
    margin-bottom: 80px;
  }
}
/* line 548, ../compass/sass/_styles.scss */
#main footer {
  padding: 25px 0;
}
