.main-container {
  max-width: 100%;
  overflow-x: hidden;
}

#main {
  margin: 50px auto;
  width: 98%;
  max-width: 1015px;
  //overflow-x: hidden;


  @include bp(tablet) {
    width: 94%;
  }

  header h1 {
    @include bp(smphone) {
      font-size: 40px;
    }
  }

  #top-section {
    figure img {
      width: 100%;
    }

    .hero-caption {
      font-family: $georgia;
      color: $white;
      font-size: 38px;
      text-shadow: 0px 0px 5px #000000;

      @include bp(tablet) {
        font-size: 28px;
      }

      @include bp(phone) {
        font-size: 22px;
      }
    }

    .hero-sub-head {
      font-size: 16px;
      margin: 15px 0 35px 0;
      text-shadow: 0px 0px 5px #000000;

      @include bp(tablet) {
        font-size: 15px;
      }

      @include bp(phone) {
        font-size: 12px;
        margin: 15px 0 16px 0;
      }

      @include bp(smphone) {
        margin: 7px 0 9px 0;
      }
    }
  }

  .hero-image {
    margin: 0;
  }

  .hero-text {
    position: absolute;
    top: 250px;
    padding-left: 100px;
    max-width: 332px;

    @include bp(tablet) {
      top: 200px;
      padding-left: 50px;
      max-width: 260px;
    }

    @include bp(phone) {
      top: 170px;
      padding-left: 25px;
      max-width: 200px;
    }
  }

  nav {
    height: 140px;

    @include bp(tablet) {
      width: 100%;
    }

    ul li a {
      float: left;
      font-size: 16px;
      background-color: $menu-background;
      text-decoration: none;
      margin: 40px 2% 40px 0;
      height: 60px;

      @include bp(tablet) {
        width: 49%;
        margin: 20px 2% 20px 0;
      }

      @include bp(phone) {
        width: 100%;
      }

      span {
        float: left;
        width: 104px;
        margin: 15px 20px 0 20px;
      }

      img {
        width: 62px;
        color: $grey-text;
        @include opacity(0.3);
        margin-left: 15px;
        float: left;
      }

      .right-arrow {
        width: 12px;
        margin: 25px 15px 0 0;

        @include bp(tablet) {
          float: right;
        }
      }
    }

    .enjoy-nature {
      @include bp(tablet) {
        float: right;
        margin-right: 0;
      }

      @include bp(phone) {
        margin-top: 0;
      }

      .icon {
        width: 52px;
        margin-top: 4px;
      }

      span {
        margin-top: 23px;
      }
    }  

    .share-photos {
      @include bp(tablet) {
        margin-top: 0;
      }

      .icon {
        width: 48px;
        margin-top: 7px;
      }
    }  

    .find-a-temple {
      margin-right: 0;
      float: right;

      @include bp(tablet) {
        margin-top: 0;
      }

      .icon {
        width: 48px;
        margin-top: 6px;
      }
    }
  }

  #mid-section {
    @extend %clearfix;
    float: left;
    margin: 0 -9999px;
    padding: 0.25px 9999px;
    background-color: $tan-bg;

    h3 {
      margin: 4px 0 17px 0;
    }

    p {
      line-height: 1.4;
      margin-bottom: 50px;

      @include bp(tablet) {
        margin-bottom: 22px;
      }
    }

    button {
      @include bp(tablet) {
        width: 170px;
      }

      @include bp(phone) {
        width: 48%;
        margin-top: 23px;
      }
    }

    .article1 {
      @extend %clearfix;
      margin-top: 30px;
      float: left;
      width: 52%;
      margin-right: 4%;

      @include bp(tablet) {
        //float: right;
        width: 100%;
        margin-right: 0;
        float: none;
      }

      .text {
        @include bp(tablet) {
          float: left;
          width: 64%;
        }

        @include bp(phone) {
          width: 100%;
        }
      }

      .visuals {
        @include bp(tablet) {
          float: right;
          width: 23%;
          margin-right: 6%;
        }

        @include bp(phone) {
          float: none;
          width: 100%;
        }
      }
    }

    .art-img {
      margin-top: 30px;
      float: right;
      @include box-shadow(2px, 1px, 5px, 1px, $grey-text);

      @include bp(tablet) {
        float: none;
        width: 99.5%;
        margin-top: 0;
      }

      @include bp(smphone) {
        width: 99%;
      }

      img {
        margin: 4px 0 0 4px;
        @include box-shadow(0, 0, 0, 4px, $white);

        @include bp(tablet) {
          width: 99.5%;
        }

        @include bp(smphone) {
          width: 99%;
        }
      }
    }

    .thumb {
      background: url("../images/thumb1.jpg") no-repeat center top;
      width: 170px;
      height: 86px;
      float: left;
      margin: 0 20px 100px 0;

      @include bp(tablet) {
        margin: 0 20px 30px 0;
      }

      @include bp(smphone) {
        width: 135px;
      }

      img {
        @include opacity(0.6);
        width: 39px;
        float: left;
        margin: 0 20px 120px 0;
        position: relative;
        top: 25px;
        left: 67px;

        @include bp(smphone) {
          left: 45px;
        }
      }
    }

    button {
      float: left;

      @include bp(smphone) {
        margin-top: 17px;
      }
    }

    .art2 {
      @extend %clearfix;
      float: left;

      .article2 {
        float: right;
        width: 52%;

        @include bp(tablet) {
          float: none;
          width: 99.5%;
          margin-top: 30px;
        }

        .text {
          @include bp(tablet) {
            float: left;
            width: 64%;
          }

          @include bp(phone) {
            width: 100%;
          }
        }

        .visuals {
          @include bp(tablet) {
            float: right;
            width: 23%;
            margin-right: 6%;
          }

          @include bp(phone) {
            float: none;
            width: 100%;
          }
        }
      }

      .stack {
        float: left;
        position: relative;
        z-index: 10;
        margin-top: 20px;

        @include bp(tablet) {
          width: 99.5%;
        }

        img {
          max-width: 100%;
          height: auto;
          vertical-align: bottom;
          border: 10px solid #fff;
          border-radius: 3px;
          @include box-sizing(border-box);
          @include box-shadow(0px, 0px, 11px, 0px, rgba(0, 0, 0, 0.4));
          @include transform-rotate(4deg);

          @include bp(tablet) {
            @include box-shadow(0, 0, 0, 4px, $white);
            width: 100%;
            @include box-shadow(0px, 0px, 0px, 0px, rgba(0, 0, 0, 0));
            @include transform-rotate(0deg);
          }
        }

        &:before {
          content: "";
          border-radius: 3px;
          width: 100%;
          height: 100%;
          position: absolute;
          border: 10px solid #fff;
          left: 0;
          @include box-sizing(border-box);
          @include box-shadow(0px, 0px, 11px, 0px, rgba(0, 0, 0, 0.4));
          @include transform-rotate(-4deg);

          @include bp(tablet) {
            content: none;
          }
        }
        
        &:before {
          top: 4px; z-index: -10;

          @include bp(tablet) {
            content: none;
          }
        }
      }

      .thumb {
        background: url("../images/thumb2.jpg") no-repeat center top;
        position: relative;
        left: 13.5%;

        @include bp(tablet) {
          position: inherit;
          left: 0;
        }
      }

      button {
        position: relative;
        left: 13.5%;

        @include bp(tablet) {
          position: inherit;
          left: 0;
        }
      }
    }

    .art3 {
      @extend %clearfix;
      float: left;

      @include bp(tablet) {
        margin-bottom: 20px;
      }
      .art-img {
        @include bp(tablet) {
          float: left;
          width: 99.5%;
          margin-top: 0;
        }
      }

      .article3 {
        width: 52%;
        float: left;
        
        @include bp(tablet) {
          width: 99.5%;
          margin-top: 30px;
        }

        .text {
          @include bp(tablet) {
            float: left;
            width: 64%;
          }

          @include bp(phone) {
            width: 100%;
          }
        }

        .visuals {
          @include bp(tablet) {
            float: right;
            width: 23%;
            margin-right: 6%;
          }

          @include bp(phone) {
            float: none;
            width: 100%;
          }
        }
      }

      .thumb {
        background: url("../images/thumb3.jpg") no-repeat center top;
      }
    }
  }

  #mid-section-2 {
    @extend %clearfix;
    float: left;
    margin-top: 30px;
    margin-bottom: 45px;

    ul {

      .expand {
        cursor: pointer;
        margin-top: 15px;
        padding: 16px 0 10px 15px;
        background: $faq-background;
        overflow: hidden;
        height: 20px;

        @include transition(all, .3s, ease-in-out);

        h4 {
          float: left;
          width: 85%;

          @include bp(phone) {
            font-size: 16px;
            margin-top: -5px;
          }
        }

        .faq-arrow {
          float: right;
          width: 20px;
          padding-right: 15px;
          @include opacity(0.4);
          @include transition(all, .3s, ease-in-out); 

          @include bp(phone) {
            margin-top: -8px;
          }     
        }

        .faq-arrow.rotate0 {
          @include transform-rotate(0deg);
        }

        .faq-arrow.rotate90 {
          padding-right: 20px;
          padding-top: 20px;
          @include transform-rotate(90deg);
        }

        p {
          @extend %clearfix;
          float: left;
          margin-top: 10px;
          font-size: 16px;
          line-height: 1.4;
          width: 90%;

          @include bp(phone) {
            margin-top: 4px;
          }
        }
      }

      .expanded {
        @include transition(all, .3s, ease-in-out);
      }
    }

    #expander1, #expander2, #expander4 {
      @include bp(phone) {
        height: 10px;
      }
    }

    #expander3 {
      @include bp(betweentp) {
        height: 20px;
      }

      @include bp(smphone) {
        height: 35px;
      }

      h4 {
        @include bp(betweentp) {
          font-size: 16px;
          height: 20px;
        }

        @include bp(phone) {
          margin-top: -8px;
          height: 46px;
        }

        @include bp(smphone) {
          height: 45px;
        }
      }

      
    }
  }

  #bottom-section {
    @extend %clearfix;
    float: left;
    margin: 0 -9999px;
    padding: 0.25px 9999px;
    background-color: $tan-bg;
    width: 100%;

    div {
      float: left;
      width: 41%;
      h3 {
        margin-top: 30px;
        margin-bottom: 20px;

        @include bp(phone) {
          margin-bottom: 10px;
        }

        @include bp(smphone) {
          font-size: 25px;
        }
      }

      h5 {
        line-height: 2.2;

        @include bp(smphone) {
          font-size: 13px;
          line-height: 1.6;
        }
      }
    }

    img {
      float: right;
      margin-top: 37px;
      width: 51%;
      display: block;
      margin-bottom: 40px;

      @include bp(phone) {
        margin-bottom: 80px;
      }
    }
  }

  footer {
    @extend %clearfix;
    padding: 25px 0;
  }
}